IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT=""

ACCESS_SECRET=""
ACCESS_EXPIRY=""
REFRESH_SECRET=""
REFRESH_EXPIRY=""

SIGNED_SECRET=""
SOCKET_SECRET=""
MONGODB_URI=""

STRICT_MODE=""
BODY_LIMIT=""
CORS_ORIGIN=""
PORT=""
NODE_ENV=""
