IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT=""

VAPID_MAILTO=""
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""

ACCESS_SECRET=""
ACCESS_EXPIRY=""
REFRESH_SECRET=""
REFRESH_EXPIRY=""
SIGNED_SECRET=""
SIGNED_SALT=""
MONGODB_URI=""

BODY_LIMIT=""
CORS_ORIGIN=""
PORT=""
NODE_ENV=""
LOG_LEVEL=""
